
## GENERAL ##

# Where your music is located. Seperate directories with ";". Spaces between directories are allowed.
music_path = "..."

# Used by Express.js. Set to something random.
session_secret = "..." 

# Database
db_path = "./src/db/streamix.db"

# Format settings
opus_frame_size = 960 # 960 samples (20ms, optimal)
flac_frame_size = 4096  # 960 * 4 = 3840, close to optimal of 4096 while being far easier to work with in code