:root {
    --album-cover-size-max: 32rem;
    --album-cover-size: min(min(82vw, 52vh), var(--album-cover-size-max));

    --controls-width: 52rem;

    --settings-sidebar-width: 14rem;
}

/* Phone */
@media only screen and (max-width: 500px) {
    body {
        zoom: 80%;
    }
}