
/**  TEXT  **/


/**  INFO  **/
#info {
    position: fixed;
    top: calc(50% - 4rem); left: 50%;
    transform: translate(-50%, -50%);
    width: min(calc(var(--album-cover-size) * 2), 100vw);

    z-index: 2;
    text-align: center;
}

#album-cover-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    width: var(--album-cover-size);
    height: var(--album-cover-size);

    border: var(--border-default);
    box-shadow: #0006 0 0 12rem;
    border-radius: 3%;

    overflow: hidden;
}

#album-cover-container > img {
    grid-area: 1 / 1;

    width: 100%;
    height: 100%;
}

#album-cover-container > #loading {
    background-color: #0006;
    opacity: 0;
    object-fit: scale-down;
    pointer-events: none; /* Allow us to access album cover underneath */

    transition: opacity 200ms;
}

h1 {
    font-size: 2.2rem;
    text-shadow: #000F 0 0 3rem;
    text-wrap: balance;

    color: var(--color-strong);

    margin: 1.4rem 0;
    padding: 0;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: #000B 0 0 3rem;
    text-wrap: balance;

    margin: 1.1rem 0;
    padding: 0;
}

h2 > span {
    color: var(--color-middle);
    font-weight: 500;
}

hr {
    border: none;
    margin: 0 auto;

    width: calc(var(--album-cover-size) * 0.85);
    height: var(--border-thickness);
    background-color: var(--border-color);
    border-radius: 1rem;
}


a {
    text-decoration: none;
    color: var(--color-normal);

    border-radius: 0.2rem;
    padding: 0.2rem;
    margin: -0.2rem;
    transition: color, background-color 0.1s;
}

a:hover {
    text-decoration: none;
    color: var(--color-strong);

    background-color: #BBB5;
    cursor: pointer;
}

/**  BACKGROUND  **/
#background {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -999;

    box-shadow: inset #0004 0 0 max(10vw, 10vh);
    user-select: none;
}

/**  CONTROLS  **/
#controls {
    position: fixed;
    left: 50%; bottom: 0;
    transform: translate(-50%, 0);

    width: min(var(--controls-width), 100%);
    height: max-content;

    background-color: var(--color-background-glass);
    backdrop-filter: blur(2rem);

    border: var(--border-default);
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;

    padding-bottom: env(safe-area-inset-bottom);

    font-weight: 600;
}

/* Seekbar */
#seekbar-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 3rem);
    margin: 1.5rem;
}

#seekbar {
    position: relative;
    width: calc(100% - 8rem);
    height: 1.5rem;
    margin: 0 1rem;

    z-index: 1;
}

#seekbar:hover {
    cursor: pointer;

    #seekbar > #dot {
        filter: var(--glow);
    }
}

#seekbar > #line {
    position: absolute;

    width: 100%;
    height: 0.4rem;
    
    background-image: linear-gradient(to right, var(--color-weak), var(--color-weak));
    border-radius: 0.3rem;

    top: 50%;
    transform: translate(0, -50%);
}

#seekbar > #dot {
    position: absolute;

    width: 0.7rem;
    height: 1.7rem;

    background-color: var(--color-strong);
    border-radius: 0.7rem;

    top: 50%;
    transform: translate(-50%, -50%);

    transition: filter 100ms;
}

/* Control Buttons */
#control-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 3rem);
    margin: 1.5rem;
}

#control-buttons > * {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;

    transition: filter 200ms;
}

#control-buttons > *:hover {
    filter: var(--glow);
    cursor: pointer;
}

/* Control Button Icons */
input.image {
    background-size: contain;
    background-color: #0000;
    border: none; outline: none;
}

input.image:active {
    filter: brightness(80%);
}

#pause { background-image: url("/asset/controls/Pause.svg"); }

#controls.paused {
    #pause { background-image: url("/asset/controls/Play.svg"); }
}

#previous { background-image: url("/asset/controls/Previous.svg"); }
#next { background-image: url("/asset/controls/Next.svg"); }

#settings { background-image: url("/asset/icons/Settings.svg"); }




/* Library */
#library {
    position: fixed;
    left: 0; top: 50%;
    transform: translate(0, -50%);
    z-index: 3;

    width: 24rem;
    height: calc(5rem + round(up, 60vh, 6.5rem + 2px) - 2px);
    overflow: hidden;

    background-color: var(--color-background-glass);
    backdrop-filter: blur(2rem);

    border: var(--border-default);
    border-left: none;
    border-radius: 0 1rem 1rem 0;

    font-weight: 600;

    transition: transform 0.5s;
    opacity: var(--inactive-opacity);
}

#library:hover {
    transform: translate(0, -50%);
}

#library.loading {
    #body {
        background-image: url("/asset/icons/Loading.gif");
        background-position: center;
        background-repeat: no-repeat;
    }
}

#library > #search {
    height: 3rem;
    width: calc(100% - 1rem);
    margin: 0.5rem;

    background-color: var(--color-background-glass);
    color: white;

    border: inset 2px var(--border-color);
    border-style: solid;
    border-radius: 0.3rem;

    box-sizing: border-box;
    padding: 0.5rem;

    font-size: 0.9rem;
    font-family: "Nebula Sans";

    transition: background-color 100ms;
}

#library > #search:focus {
    outline: none;
    background-color: var(--border-color);
}

#library > #body {
    height: calc(100% - 4rem);
    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: #FFF2 #0000;
    /*scroll-snap-type: y mandatory;*/
    mask-image: linear-gradient(to bottom, #0000, #000F 1rem);

    transition: scrollbar-color mask-image 100ms;
}

#library > #body:hover {
    scrollbar-color: #FFF4 #0000;
}

#debug-info {
    text-align: right;
    color: #FFF;

    z-index: 999;
    text-shadow: #000F 0 0 2rem;
}

#debug-info > .playing {
    color: #0F0;
    font-weight: 600;
}

#debug-info > .done {
    color: #A00;
    font-weight: 400;
}





/* Phone Only */
@media only screen and (max-width: 500px) {
    

    #info {
        top: calc(50% - 3rem);
    }

    #library {
        opacity: 25%;
    }
}