

:root { /**  SETTINGS  **/
    /* Colors */
    --color-background: #111;
    --color-background-glass: #0008;
    --color-foreground: #FFF;
    --color-foreground-glass: #FFF8;

    --color-weak: #FFF4;
    --color-light: #FFF8;
    --color-middle: #FFFB;
    --color-normal: #FFFE;
    --color-strong: #FFFF;

    --border-color: #FFF1;

    /* Text / Effect size */
    --text-size-title: min(2.2rem, 2.2vh);
    --text-size-subtitle: min(1.3rem, 1.3vh);

    --border-thickness: 2px;


    /* Fancy effects */
    --background-image-effect: contrast(110%) brightness(75%) saturate(120%);
    --background-image-blur: max(5vw, 5vh);
    --glow: drop-shadow(#FFFA 0 0 0.8rem);
    --inactive-opacity: 100%;


    /* Calculated values */
    --border-half: solid var(--border-color) calc(var(--border-thickness) / 1.777);
    --border-default: solid var(--border-color) var(--border-thickness);
}

/** Classes for colors **/
.color-weak   { color: var(--color-weak); }
.color-light  { color: var(--color-light); }
.color-middle { color: var(--color-middle); }
.color-normal { color: var(--color-normal); }
.color-strong { color: var(--color-strong); }

.font-normal    { font-weight: 400; }
.font-medium    { font-weight: 500; }
.font-semibold  { font-weight: 600; }
.font-bold      { font-weight: 700; }

/** Font **/
@font-face {
    font-family: "Nebula Sans";
    src: url("/asset/font/nebula-sans/NebulaSans-Book.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Nebula Sans";
    src: url("/asset/font/nebula-sans/NebulaSans-BookItalic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Nebula Sans";
    src: url("/asset/font/nebula-sans/NebulaSans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Nebula Sans";
    src: url("/asset/font/nebula-sans/NebulaSans-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Nebula Sans";
    src: url("/asset/font/nebula-sans/NebulaSans-Semibold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Nebula Sans";
    src: url("/asset/font/nebula-sans/NebulaSans-SemiboldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Nebula Sans";
    src: url("/asset/font/nebula-sans/NebulaSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Nebula Sans";
    src: url("/asset/font/nebula-sans/NebulaSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/** Global **/
body {
    background-color: var(--color-background);
    color: var(--color-normal);

    font-family: "Nebula Sans";
    font-variant-numeric: tabular-nums;

    overflow: hidden; /* Bruh */
    touch-action: none;

    /*position: absolute;
    width: 100vw;
    height: 100vh;*/
}
