
.trackbox {
    display: flex;

    border: solid #AAA2 2px;
    border-radius: 0.5rem;

    background-color: #0000;
    overflow: hidden;
    scroll-snap-align: start;

    height: 6rem;
    margin: 0.5em;

    transition: background-color 100ms;

    background-size: cover;
    background-position: center;

    cursor: pointer;
}

.trackbox:hover {
    background-color: #8882;
}

.trackbox > div {
    flex-grow: 1;
    min-width: 0;

    margin-left: 0.8rem;
    text-wrap: nowrap;

    mask-image: linear-gradient(to right, #000F calc(100% - 2rem), #0000);
}

.trackbox > img {
    width: 96px;
    height: 96px;
}

.title {
    font-weight: 600;
    margin: 0.4rem 0;
    margin-top: 0.7rem;
}

.artist {
    font-weight: 400;
    margin: 0.4rem 0;
}

.album {
    font-weight: 400;
    margin: 0.4rem 0;
}